@import "tailwindcss";
@import url("https://fonts.cdnfonts.com/css/sf-pro-display");

* {
  transition: all ease-in-out 200ms;
}

html {
  background-color: #181818;
}

img {
  height: auto;
}

main {
  min-height: 100svh;
  background-color: #181818;
}

.accent {
  color: #17e6da;
}

.buttonComponentLine {
  border-radius: 10px;
  padding: 0.5vw 0.5vw;
  display: flex;
  align-items: center;
}

.buttonComponentLine:hover {
  background-color: #304049;
}

.buttonComponentLine:hover > p {
  color: #17e6da !important;
}

hr {
  color: white;
}

h3,
p {
  color: white;
}

.paddingSection {
  padding: 3vw 5vw;
}

.headerSection {
  z-index: 100;
  position: sticky;
  top: 0;
  width: 100vw;

  background-color: #1f272f;
  color: white;
  border-radius: 0 0 20px 20px;
}

.bottomSection:hover{
  background-color: #1F2327;
  color: #17e6da;
}

.bottomSection {
  z-index: 100;
  width: fit-content;

  border-radius: 20px 20px 0 0;
  padding: 15px;

  background-color: #181818;
  border: 3px solid #1F272F;
  color: #304049;
}

.activeBottom {
  background-color: #1f272f;
  color: white;
}

.moduleContent {
  z-index: 10;
}

.gridContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
}

.videoComponentLine {
  width: 50%;
  padding: 10px;
  border-radius: 20px;
  margin-right: 1em;
}

.videoColumnParagraph {
  background-color: #304049;
  padding: 1%;
  width: 30%;
}

.videoComponentLineDiv:hover > .videoComponentLine {
  background-color: #304049;
}

.videoComponentLineDiv:hover > .videoComponentLine h3{
  color: #17e6da;
}

.videoComponentLine:hover {
  background-color: #304049;
}

.videoComponentLine:hover > .videoTextline h3 {
  color: #17e6da !important;
}

.videoColumn {
  padding-right: 0;
  padding-left: 0;
}

.imgVideo {
  width: 30%;
}

.lenghtVideo {
  color: #17e6da !important;
  opacity: 50%;
}

.borderImg {
  border-radius: 15px;
}
